<div class="container" *ngIf="product; else loading">
    <mat-card class="product-card">
        <mat-card-header>
            <mat-card-title class="product-card-title">
                {{product.name}}
            </mat-card-title>
            <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Price: {{product.basePrice}}</p>
            <p>Inventory Quantity: {{product.inventoryQuantity}}</p>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="returnPage()">Return</button>
    </mat-card>
</div>
<ng-template #loading>
    <div class="container-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>